.button {
  font-family: var(--f-action);
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
  padding: 10px 10px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-bg-300);
  background-color: var(--color-bg-100);
  cursor: pointer;
  transition:
    border-color var(--transition-fast),
    background-color var(--transition-fast);
}

.button:hover:not(:disabled) {
  border-color: var(--color-accent-highlight);
  background-color: var(--color-accent-1-200);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
