body {
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 100%;

  background-image: url("./assets/background.webp");
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center top;

  opacity: 0.4;
  image-rendering: crisp-edges;

  z-index: -1;
}
